<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Error</title>
</head>
<body>
	<div class="center-block">
		<h1>Couldn't open file</h1>
		<h2><a href="javascript:toDir();">Parent directory</a></h2>
		<img src="&cat&">
		<h3 id="github" class="animated fadeIn"><a href="https://github.com/midaef/web-file-server">project on GitHub</a></h3>
	</div>
	<script type="text/javascript">function toDir() {window.history.back(1);}</script>
	<style type="text/css">
		.center-block {
			text-align: center;
			width: 100%;
			height: 100%;
			padding-bottom: 20px;
			padding-top: 10px;
		}
		a {text-decoration: none;}
	</style>
</body>
</html>