<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>&title&</title>
</head>
<body>
	<div class="path">&path&</div>
	<h3></h3>
	<table>
		<thead>
			<tr>
				<th></th>
				<th>Size</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
			<tr><th colspan="3"><hr></th></tr>
			<tr><td></td><td></td><td><img src="&back-link-src&">&back-link&</td></tr>
			&file&
		</tbody>
		<script type="text/javascript">
			window.onload = function() {
				let tokenCookie = document.cookie.replace(/(?:(?:^|.*;\s*)token\s*\=\s*([^;]*).*$)|^.*$/, "$1")
				let xhr = new XMLHttpRequest()
				xhr.open("POST", "/token", false)
				xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
				let body = JSON.stringify({
					token:tokenCookie
				})
				xhr.send(body)
				if (xhr.status != 200) {
					location.replace("/login");
				}
			};
		</script>
	</table>
	<style type="text/css">
		.path h3 {
			color: #2c3136;
			margin-left: 50px;
			font-size: 25px;
		}
		
		table {
			border-collapse: collapse;
			text-decoration: none;
			margin-left: 50px;
		}
		a {
			text-decoration: none;
			font-size: 20px;
		}
		.button-up {margin-left: 50px;}
		a:hover {color: black;}
		td {padding-left: 15px;}
		th {cursor: pointer;}
	</style>
</body>
</html>